<div class="info">
    <p>Todos los derechos reservados <br>
        @copyright 2024
    </p>
</div>

<div class="links">
    <a href="/contacto">Contacto</a>
</div>

<div class="icons">
    <a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a>
    <a href="https://www.instagram.com/shadi_indumentariafemenina/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
    <a href="https://www.whatsapp.com/" target="_blank"><i class="fa-brands fa-whatsapp" target="_blank"></i></a>
</div>