<div class="div_titulo">
    <h1>Shadi Indumentaria</h1>
</div>
<navbar class="navegador">
    <ul>
        <li><a href="/index"><button>Inicio</button></a></li>
        <li><a href="/contacto"><button>Contacto</button></a></li>
        <li><a href="/login"><i class="i_usuario fa-solid fa-user"></i></a></li>
    </ul>
</navbar>