:root{
    --rosa: rgb(255, 189, 248);
    --border-color: linear;
    --color2: rgb(141, 109, 91);
    --blanco: white;
}
*{
    text-align: center;
    align-items: center;
    font-family: 'Satisfy', cursive;
    margin: 0;
    padding: 0;
}
html{
    background-color: var(--rosa);
}
body{
    background-color: var(--rosa);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.main{
    background-color: var(--rosa);
    align-items: center;
}
.main div{
    width: 100%;
}
.slider{
    width: 100%;
    display: flex;
    align-items: center;
}
.slider_images img{
    width: 90%;
}
.slider_images{
}
.flecha-slider-izquierda img, .flecha-slider-derecha img{
    height: 5cap;
    color: var(--color2);
}
.flecha-slider-izquierda img:hover, .flecha-slider-derecha img:hover{
    transition: 0.5s;
    height: 5.5cap;
    cursor: pointer;
}
.flecha-slider-derecha{
    text-align: left;
}
.flecha-slider-izquierda{
    text-align: right;
}
header{
    width: 100%;
    margin: 0;
}
.navegador button{
    text-decoration: none;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
}
.div_titulo{
    color: var(--rosa);
    height: 70px;
    margin: 0;
    padding: 0;
    font-size: 50px;
    background-color: white;
}
.navegador{
    font-style: none;
}
.navegador ul{
    list-style: none;
    background: linear-gradient( to top, var(--rosa) 0%, var(--blanco) 100%) ;
    padding: 0;
    display: flex;
    height: 50px;
    margin: 0;
}
.navegador ul li{
    width: 25%;
    height: 100%;
}
.navegador ul li a button{
    text-decoration: none;
    font-size: 20px;
    color: var(--color2);
}
footer{
    display: flex;
    align-items: center;
    padding: 20px;
    margin-top: auto;
    width: 100%;
    background: linear-gradient( to top, var(--blanco) 0%, var(--rosa) 100%) ;
}
.info{
    text-align: center;
    width: 33.3%;
}
.links{
    text-align: center;
    width: 33.3%;
}
.links a{
    display: block;
    margin-bottom: 15px;
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.icons{
    text-align: center;
    width: 33.3%;
}
.icons a{
    display: inline-block;
    font-size: 30px;
    margin-right: 20px;
}
.fa-facebook{
    color: rgb(0, 0, 187);
}
.fa-whatsapp{
    color:rgb(0, 180, 0);
}
.fa-instagram{
    color: black;
}