<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <header>
        <%- include('../partials/headeradmin') %>
    </header>

    <body>
        <div class="admin_productos">
            <div class="admin_prod_item">
                <p class="item_admin">Producto</p>
                <p class="item_admin">Precio</p>
                <p class="item_admin">Cantidad</p>
                <select class="item_admin">
                    <option value="">Categoria</option>
                </select>
                <div class="item_admin">
                    <button class="boton_secondary">Eliminar</button>
                    <button class="boton">Editar</button>
                </div>
            </div>
            <div class="admin_prod_item">
                <p class="item_admin">Producto</p>
                <p class="item_admin">Precio</p>
                <p class="item_admin">Cantidad</p>
                <select class="item_admin">
                    <option value="">Categoria</option>
                </select>
                <div class="item_admin">
                    <button class="boton_secondary">Eliminar</button>
                    <button class="boton">Editar</button>
                </div>
            </div>
            <div class="admin_prod_item">
                <p class="item_admin">Producto</p>
                <p class="item_admin">Precio</p>
                <p class="item_admin">Cantidad</p>
                <select class="item_admin">
                    <option value="">Categoria</option>
                </select>
                <div class="item_admin">
                    <button class="boton_secondary">Eliminar</button>
                    <button class="boton">Editar</button>
                </div>
            </div>
        </div>
    </body>
    
</body>
</html>