<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <header>
        <%- include('../partials/header') %>
    </header>

    <body>
        <div>
            <form class="cartel_login">
                <input type="email" placeholder="Email" class="input_login" required>
                <input type="password" class="input_login" placeholder="Contraseña" required>
                <input type="submit" class="boton">
            </form>
            <a href="/register"><button class="boton_secondary regis_login">Registrate</button></a>
        </div>
    </body>

    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>
</html>